<span>SETTINGS
  <span style="float: right;">Home/Settings</span>
</span>
<mat-card>
  <mat-card-content>


    <div style="margin:45px">
      <div class="button-row">

        <button mat-raised-button disabled>Configuration</button>
        <button mat-raised-button disabled>Webhooks</button>
        <button mat-raised-button disabled>API keys</button>
        <button mat-raised-button disabled>Reminders</button>
        <button mat-raised-button color="primary">Payment Methods</button>
      </div>

      <h4>Manage Payment Methods</h4>
      <mat-card-subtitle>We offer a host of Payment methods, some of them available by default......................
      </mat-card-subtitle>
    </div>
    <div style="margin-left:27px">
      <mat-card>

        <mat-card-content fxLayout="row" style=" background: linear-gradient(to left, white 70%, #ff0000  30%);">
          <div fxLayout="column" style="width: 40%;">
            <div class="paymentype">
              <div class="paymentypespan">Cards</div>
            </div>
            <div class="paymentype">
              <span class="paymentypespan">UPI/QR</span>
            </div>
            <div class="paymentype">
              <div class="paymentypespan">EMI</div>
            </div>
            <div class="paymentype">
              <div class="paymentypespan">UPI/QR</div>
            </div>

            <div class="paymentype">
              <div class="paymentypespan">Wallet</div>
            </div>

            <div class="paymentype">
              <div class="paymentypespan">Wallet</div>
            </div>

            <div class="paymentype">
              <div class="paymentypespan">Wallet</div>
            </div>

          </div>

          <div fxLayout="column">
            <h5>Dometic cards</h5>
            <mat-card>
              <mat-card-content>

                <div id="inline">      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Visa.svg/300px-Visa.svg.png"
                  style="width: 51px; float: left;"> <span style="padding: 20px;">Visa cards</span>
                  <button type="button" class="btn btn-success">Activated</button>
                </div>

                  <div id="inline">      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Mastercard-logo.svg/200px-Mastercard-logo.svg.png"
                    style="width: 51px; float: left;"> <span style="padding: 20px; ">Master cards</span>

                    <button  type="button" class="btn btn-success">Activated</button>
                  </div>


                    <div id="inline">      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/RuPay.svg/330px-RuPay.svg.png"
                      style="width: 51px; float: left;"> <span style="padding: 20px;">Rupay cards</span>
                      <button type="button" class="btn btn-success">Activated</button>
                    </div>

                      <div id="inline">      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Maestro_2016.svg/180px-Maestro_2016.svg.png"
                        style="width: 51px; float: left;"> <span style="padding: 20px;">Maestro cards</span>
                          <button type="button" class="btn btn-success">Activated</button>


                      </div>





              </mat-card-content>
            </mat-card>
          </div>
        </mat-card-content>


      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
