.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.paymentypemain {
  width: 237px;
  background-color: rgb(233, 14, 14);

}
.paymentype {
  width: 80px;
  margin-top: 20px;
}

.paymentypespan{

  margin-left: 47px;
  margin-top: 20px;
  cursor: pointer;
}

#inline
{
width:100%;
display:block;
padding: 20px;
}

 #inline img
{
float:left;
}

#inline img button
{
margin-left: 20px;
}
.btn {
   padding: 20px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
